<!--데이터 삽입을 위한 form 구현 -->
<!--타이틀 만듬 -->
<!--insert.js에서 써야할것을 템플릿 양식을 외부의 handlebars(hbs) 파일로 생성한것. 일종의 외장모듈-->
<h1>airport 데이터 삽입</h1>

<!--action은 데이터를 어떤페이지에 넘겨줄 것인가? -->
<!--method(값)은 post로 넘김. home.js가보면 거기서 처리하는 코드 있음-->
<form name="airport" method="post" action ='/'>
    <div>
        <label for="airport_code">airport_code</label>
        <input id="airport_code" name="airport_code" type="text" required placeholder="airport_code">
    </div>
    <div>
        <label for="name">name</label>
        <input id="name" name="name" type="text" placeholder="name">
    </div>
    <div>
        <label for="city">city</label>
        <input id="city" name="city" type="text" placeholder="city">
    </div>
    <div>
        <label for="state">state</label>
        <input id="state" name="state" type="text" placeholder="state">
    </div>
    <div>
        <input type="submit" value="삽입">
    </div>
   
</form>